* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1920px;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #537dd1;
}

.imgs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.imgs-container img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 0px 5px #edcdcdc2;
  height: 100px;
  background-color: #3e5480;
  margin-bottom: 70px;
  padding: 32px;
}

.search-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: white;
  gap: 4px;
}

.search-wrapper input {
  height: 28px;
}
.search-wrapper .x {
  color: red;
}

header h1 {
  color: white;
}
header .logo {
  width: 180px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 24px;
}

.imgs-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
  margin: 20px;
  margin-bottom: 200px;
}
.imgs-container img {
  width: 220px;
  height: 220px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}
.imgs-container img:hover {
  transform: scale(1.05);
  filter: drop-shadow(5px 5px 10px #ffffff);
}

#div-container img {
  cursor: pointer;
}

.popup-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Popup versteckt */
.hidden {
  display: none;
}

/* Popup Inhalt */
.popup-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
  color: #fff;
}

.popup-content img {
  width: 400px;
  height: 400px;
  border-radius: 10px;
}

#popup-close {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 32px;
  cursor: pointer;
}

.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 32px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  -webkit-user-select: none;
  user-select: none;
}

.prev {
  left: -50px;
}

.next {
  right: -50px;
}

.nav-btn:hover {
  color: #ccc;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding-top: 30px;
  box-shadow: 0px 0px 5px #edcdcdc2;
  background-color: #3e5480;
}

footer .p-footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  font-size: 16px;
  padding-bottom: 16px;
  color: #fff;
}
